*,
*:after,
*:before {
  box-sizing: inherit;
  -o-box-sizing: inherit;
  -ms-box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: "PT Serif", serif;
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 2rem auto;
}
.container aside {
  display: flex;
  justify-content: space-between;
}
.container aside h1 {
  font-size: 2.25rem;
}
.container aside .box-text {
  width: 50%;
}
.container aside .box-text h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.12rem;
  font-weight: 600;
  text-transform: uppercase;
}
.container aside .box-text p {
  font-family: "Poppins", sans-serif;
  font-size: 1.12rem;
  font-weight: 400;
}
.container section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.container section .image {
  margin: 0 auto;
  width: 14.87rem;
  position: relative;
}
.container section .image .box-image img {
  width: 14.87rem;
  height: auto;
}
.container section .image .box-image .name {
  font-size: 1.12;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.container section .image .work {
  right: -8rem;
  top: -18.8rem;
  position: relative;
  font-size: 0.75rem;
  font-weight: normal;
  font-family: "PT Serif", serif;
  transform: rotate(90deg);
  text-transform: uppercase;
}
.container section .image-top {
  margin-top: 6rem;
}
.container section .image1 {
  grid-area: 1/1/2/2;
}
.container section .image2 {
  grid-area: 1/2/2/3;
}
.container section .image3 {
  grid-area: 1/3/2/4;
}
.container section .image4 {
  grid-area: 2/1/3/2;
}
.container section .image5 {
  grid-area: 2/2/3/3;
}
.container section .image6 {
  grid-area: 2/3/3/4;
}
.container footer {
  text-align: center;
}
.container footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.87rem;
  font-weight: 500;
  color: #a9a9a9;
}
.container footer p a {
  color: #ee402c;
  text-decoration: none;
}
.container footer p a:hover {
  text-decoration: underline;
}

@media (max-width: 870px) {
  aside {
    display: flex;
    flex-direction: column;
  }
  aside .box-text {
    width: 100% !important;
  }
  aside .box-text p {
    font-size: 0.87rem !important;
  }

  .container {
    padding: 0 1rem;
  }
  .container section {
    display: grid;
    grid-template-columns: repeat(2, 0.1fr);
    grid-template-rows: repeat(3, 0.1fr);
    justify-content: center;
    margin-top: 4rem;
    width: 100%;
  }
  .container section .image .box-image {
    margin: 0 auto;
    width: 8rem;
  }
  .container section .image .box-image img {
    width: 8rem;
  }
  .container section .image .work {
    right: -5rem;
    top: -8.3rem;
  }
  .container section .image-top {
    margin-top: 0;
  }
  .container section .image-top2 {
    margin-top: 2rem;
  }
  .container section .image1 {
    grid-area: 1/1/2/2;
  }
  .container section .image2 {
    grid-area: 1/2/2/3;
  }
  .container section .image3 {
    grid-area: 2/1/3/2;
  }
  .container section .image4 {
    grid-area: 2/2/3/3;
  }
  .container section .image5 {
    grid-area: 3/1/4/2;
  }
  .container section .image6 {
    grid-area: 3/2/4/3;
  }
}
@media (max-width: 510px) {
  section .image {
    width: 8rem !important;
  }
  section .image .box-image img {
    width: 90% !important;
  }
  section .image .box-image .name {
    font-size: 0.87rem !important;
  }
  section .image .work {
    right: -3.8rem !important;
    top: -10.3rem !important;
    font-size: 0.62rem !important;
  }
}

/*# sourceMappingURL=style.css.map */
