*,
*:after,
*:before {
    box-sizing: inherit;
    -o-box-sizing: inherit;
    -ms-box-sizing: inherit;
    -webkit-box-sizing: inherit;
}

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
