// colors
$primary-color: #fafafa;
$secundary-color: #000000;
$teriary-color: #a9a9a9;
$special-color: #ee402c;

// fonts
$pt-serif: "PT Serif", serif;
$poppins: "Poppins", sans-serif;
$montserrat: "Montserrat", sans-serif;

// screens
$desktop: 1200px;
$tablet: 800px;
$mobile: 400px;
